  <h1>Show the post</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Email:</b>
  <%= @post.email %>
</p>

<p>
  <b>Area:</b>
  <%= @post.area %>
</p>
<p>
  <b>Avatar:</b></br>
  <%= image_tag @post.avatar.url %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
